<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>My Todo List</h1>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Adicionar Tarefa</button>
  </form>
  <ul>
    {% for task in tasks %}
    <li>
      {% if task.completed %}
        <s> {{ task.title }}</s>
      {% else %}
        {{ task.title }}
      {% endif %}
      <a href="{% url 'complete-task' task.id %}">[Feito]</a>
      <a href="{% url 'delete-task' task.id %}">[Apagar]</a>
    </li>
    {% endfor %}
  </ul>
</body>
</html>